body{
    background-color:rgb(19, 19, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
form{
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
form input{
  background-color: #1010abd3;
  color: white;
  width: 400px;
  height: 30px;
  padding: 10px;
  flex-grow: 1;
  border-radius: 20px;
}
form button{
  background-color: #14a;
  color: rgb(203, 163, 163);
  width: 420px;
  height: 30px;
  border-radius: 20px;
}
legend{
  color: white;
}